<div [formGroup]="releveNotesForm" class="formulaire">
    <h1>Infos sur la demande</h1>
    <label for="annee">annee</label>
    <input type="date" id="annee" formControlName="annee" />
    <label for="session">Session</label>
<select id="session" formControlName="session">
    <option value="normale">Session Normale</option>
    <option value="rattrapage">Session Rattrapage</option>
</select><label for="niveau">Niveau</label>
    <input type="text" id="niveau" formControlName="niveau" />
  
</div>
  