<div [formGroup]="documentForm" class="formulaire">
    <h1>Infos sur la demande</h1>
    <label for="annee">Année</label>
    <input type="date" id="annee" formControlName="annee" />
  
    <label for="lieu_de_naissance">Lieu de Naissance</label>
    <input type="text" id="lieu_de_naissance" formControlName="lieu_de_naissance" />
  
    <label for="type_bourse">Type de Bourse</label>
<select id="type_bourse" formControlName="type_bourse">
    <option value="demi_bourse">Demi Bourse</option>
    <option value="bourse_complete">Bourse Complète</option>
</select>

</div>
  